Electron
JetBrains
Thunar
VirtualBox
asciinema
autostart
bottom
cef_user_data
clash
dconf
deluge
fcitx
fcitx5
green-recorder
gtk-3.0
hmcl
icalingua
kazam
lazygit
mozc
obs-studio
packer
pip
procps
pulse
transmission
vlc
vokoscreenNG
ibus
.gsd-keyboard.settings-ported
QtProject.conf
libinput-gestures.conf
mimeapps.list
nvim
Code - Insiders
Visual Studio Live Share
electron
